@import url("https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Knewave&display=swap");
@import "tailwindcss";

/* DOTS animation */
@keyframes moveDiagonally {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 100%;
  }
}
.animate-diagonal-move {
  animation: moveDiagonally 90s linear infinite;
}
